.mood-emoji {
    border-radius: 50%;
    padding: 10px;
    &.active.happy {
      border: 1px solid $green;
      background: rgba($green, 0.5);
    }
    &.active.indifferent {
      border: 1px solid $orange;
      background: rgba($orange, 0.5);
    }
    &.active.sad {
      border: 1px solid $red;
      background: rgba($red, 0.5);
    }
  }