$white: #ffffff;
$gray: #c4c4c4;
$dark-gray: #898583;
$black: #120c35;

$dark-brown: #35100c;
$green: #1d9a39;
$orange: #ff9635;
$red: #f93131;
$Nunito: "Nunito", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $Nunito;
}

body {
  color: $dark-brown;
}

.happy {
  color: $green;
}

.indifferent {
  color: $orange;
}

.sad {
  color: $red;
}

.home-page {
  display: flex;
  padding: 70px 40px;
  @media onlyscreen and (min-width: 768px) {
    display: flex;
    gap: 40px;
  }
  & form {
    border: 1px solid $gray;
    border-radius: 15px;
    height: 577px;
    width: 465px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & #form-logo {
      margin-bottom: 20px;
    }
    & .form {
      &-question {
        font-size: 1.5rem;
        text-align: center;
        color: $dark-gray;
        width: 18ch;
      }
    }
    & p.message {
      height: 25px;
    }
    & .mood {
      &-item {
        border-radius: 5px;
        margin-bottom: 20px;
      }
      &-options {
        width: fit-content;
        display: flex;
        gap: 10px;
        margin: 15px 0;
        & img {
          border-radius: 50%;
          padding: 10px;
          &.active.happy {
            border: 1px solid $green;
            background: rgba($green, 0.5);
          }
          &.active.indifferent {
            border: 1px solid $orange;
            background: rgba($orange, 0.5);
          }
          &.active.sad {
            border: 1px solid $red;
            background: rgba($red, 0.5);
          }
        }
      }
    }

    & button {
      background: $black;
      color: $white;
      padding: 8px 20px;
      border-radius: 5px;
      margin-top: 40px;
      font-weight: 700;
    }
  }
}

.mood {
    &-tracker {
        & .header {
          display: flex;
          align-items: center;
          & img {
              margin: 10px;
          }
          & h3 {
              font-size: 1.5rem;
          }
        }
      }
      &-history {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $gray;
        margin-top: 10px;
        text-align: center;
      }
}